/* Fichier venant stylisé l'ensemble du terrain */

/* ******************************************************************** */
/* FIELD */
/* ******************************************************************** */

/* Non affiché initalement, affiché lorsque on valide le pseudo */
div[id^=field] {
    display: $display-none;
    position: relative;
}

.item {
    z-index: 10;
    background-image: url(../images/item.png);
    animation: bounce 0.9s ease-out infinite alternate;
}

/* Tous les éléments du jeu sont positionnés en absolute et leur position est définie dans les boucles au moment de leur création */
#helpBox,
#resultBox,
#creditBox,
#pseudoForm,
#success,
.interfaceGameOver,
.ennemy,
div[id^=hero],
.platform,
.air,
.sol,
.piege,
.bosse,
.item {
    position: absolute;
}

/* Hauteur à 50px et largeur à 70px */
div[id^=hero],
.platform,
.ennemy,
.air,
.sol,
.piege,
.bosse,
.item {
    height: $square-height;
    width: $square-width;
}

#helpBox,
#resultBox,
#creditBox,
#pseudoForm,
.platform,
div[id^=hero]{
    display: $display-none;
}

.sol,
.bosse {
    background-color: $color-ground;
}

.piege {
    background-image: url(../images/trap-01.png);
    background-size: cover;
}

.bosse {
    border-radius: 4px 4px 0 0;
    z-index: 15;
}

#score {
    font-size: 3em;
}

/* Animation utilisée pour les items */
@keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-20px);
    }
}


/* ******************************************************************** */
/* HERO + ENNEMY */
/* ******************************************************************** */

div[id^=hero] {
    background-color: $color-ground;
    border: 1px solid red;
    z-index: 20;
    /* a affiner : permet chute progressive mais pas tres net
    transition:all 1000ms linear; */
}

.ennemy {
    background-color: black;
    z-index: 10;
}


/* ******************************************************************** */
/* PLATEFORME */
/* ******************************************************************** */

.platform {
    display: block;
    background-color: $color-ground;
    z-index: 10;
}


/* ******************************************************************** */
/* DEBUG */
/* ******************************************************************** */

/*
.air::after {
    content:"0";
    display:block;
}

.sol::after {
    content:"1";
    display:block;
    color:white;
}

.bosse::after {
    content:"3";
    display:block;
    color:white;
}

.piege::after {
    content:"2";
    display:block;
    color:white;
}

.ennemyfield {
    content:"4";
    display:block;
    color:white;
}

.herofield {
    content:"5";
    display:block;
    color:white;
}
*/