/* ******************************************************************** */
/* TYPOS */
/* ******************************************************************** */

h1,
#butonPlay,
#butonPlayAgain,
#butonQuit {
    font-family: Beauty and the Beast;
}

h1 {
    font-size: 8em;
    letter-spacing: 10px;
}

.interfaceGameOver h1,
.interfaceSuccess h1 {
    margin-bottom: 100px;
}

.accueilTitre h1 {
    padding: 0.5em;
    background-image: url(../images/wirecadre-01.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.texte {
    font-size: 2em;
    letter-spacing: 7px;
    margin-top: 5px;
}