/*Field*/

/*cache le surplus de terrain*/
body {
    overflow:hidden;
}

#field {
    position:absolute;
}

.air, .sol, .test, .bosse {
    position:absolute;
    /*changer la position dans field.js*/
    height:50px;
    width:70px;
    //border:1px solid grey;
}

.air {
    background-color:lightgoldenrodyellow;
}

.sol {
    background-color:black;
}

.test {
    background-color:red;
}

.bosse {
     background-color:black;
    border-radius:4px 4px 0 0;
}

/*hero*/

#hero {
    position:absolute;
    width:70px;
    height:50px;
    background-color:black;
    border:1px solid red;
    z-index:20;
}