/* ******************************************************************** */
/* UTILITAIRES */
/* ******************************************************************** */
@font-face {
  font-family: Beauty and the Beast; 
  src: url(Beauty and the Beast Sample.otf);
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

.accueilTitre h1,
#butonPlay {
     font-family: Beauty and the Beast;
}

/* ******************************************************************** */
/* INTERFACES */
/* ******************************************************************** */

body {
    width: 100%;
    height: 100vh;
    font-family: Source Sans Pro;
    color: #36383a;
}

/* ********* Accueil ********* */

.interfaceAccueil {
    background-color: #f2f1d2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.accueilFlex {text-align: center; }
.accueilTitre {}

.accueilTitre h1 {
    font-size: 8em;
    padding: 0.5em 0.7em 0.5em 0.7em;
    background-image: url(../images/wirecadre.png); 
    background-size:cover;
    background-position: center;
}

.accueilTitre p {
    font-size: 2em;
    letter-spacing: 5px;
}

.accueilIcones {
    position: absolute;
    top: 200px;
    right: 400px;
}

#butonPlay {
    width: 100%; 
    margin-top: 3em;
    font-size: 3em;
}

#butonPlay:hover,
.icon:hover 
{cursor: pointer;}

.icon {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* ********* Succès ********* */

/* ********* Game Over ********* */



/* ******************************************************************** */
/* FIELD */
/* ******************************************************************** */

.air, .sol, .test, .bosse {
    position:absolute;
    /*changer la position dans field.js*/
    height:50px;
    width:70px;
    //border:1px solid grey;
}

.air {
    background-color:lightgoldenrodyellow;
}

.sol {
    background-color:black;
}

.test {
    background-color:red;
}

.bosse {
     background-color:black;
    border-radius:4px 4px 0 0;
}



/* ******************************************************************** */
/* HERO */
/* ******************************************************************** */

.hero {
    position:absolute;
    width:70px;
    height:50px;
    /*largeur d'une case*/
    left:70px;
    background-color:black;
    border:1px solid red;
}